@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  /* No es recomendable usar fontFamili en *, puede afectar otros elementos. */
}

.icon {
  color: red;
  font-size: 2rem;
}

html {
  font-size: 100%;
  /* font-size: 62.5%; */
}

.main-section {
  width: 50%;
  margin: auto;
  border: 2px solid red;
  /* vh > Viewport Height  */
  min-height: 100vh;
  height: 100%;

  /* VW > viewport Width */
  /* width: 100vw; */
}

/* 1rem = 16px  por defecto */

.parent {
  font-size: 1.4em;
}

.parent .first {
  /* Root em Relative */
  /* font-size: 1.125rem; */
  font-size: 1.2rem;
}

.parent .second {
  /* Relative en el padre mas cercano, si tiene font-size */
  font-size: 1em;
  font-size: 1.4rem;
}

.third {
  font-size: 16px;
}

/* CH */

.fourth {
  padding: 2em;
  /* height: 100vmin; */
  width: 10ch;
  height: 100px;
  background-color: #ff00ff;
  margin-top: 10px;
}

/* CH es definido por el ancho del caracter 0 (Cero) */
/* Monospace Fuentes con el mismo ancho */

.text-long {
  font-size: calc(4vmin + 1rem);
}

/* vmin vmax */
