* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  justify-content: center;
  margin-top: 100px; */
}

.card {
  /* position: relative; */
  width: 200px;
}

.card h1 {
  position: fixed;
}
.card button {
  position: absolute;
  background-color: red;
}
